* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {
  display: block;
}


body {
  height: 1000px;
}

p {
  text-align: justify;
}

a {
  text-decoration: none;
}

/************************  Navbar Section Starts  **************************/
.container {
  background-color: #4fdb7e;
  width: 100%;
  padding: 0 8%;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(0, 99, 0);
}

.navbar {
  display: flex;
}


.navbar a {
  padding: 2%;
}

.navbar ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
}

.navbar ul li {
	list-style-type: none;
	margin: 0 2%;
}

.navbar ul li a {
    border-radius: 20px;
	font-size: 16px;
	color: white;
}
.logo {
  width: 70px;
  cursor: pointer;
}

.menu-icon {
  width: 50px;
  cursor: pointer;
}


nav ul li a:hover {
  color: green;
}

/************************  Navbar Section Ends  **************************/

/************************  Day Planner Section Starts  **************************/

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.width100 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.planner h2 {
  margin: 0 0 50px 0;
  padding-top: 17px;
  text-align: center;
  letter-spacing: 2px;
  font-size: 28px;
  text-transform: capitalize;
}

#userinput {
  margin-right: 20px;
  height: 34px;
  border-radius: 10px;
  transition: width 0.5s;
  padding-left: 8px;
  width: 30%;
}

#enterButton {
  background-color: green;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  width: 100px;
  border-radius: 15px;
}

.todolist {
  position: relative;
  font-family: sans-serif;
  line-height: 30px;
  width: 60%;
  height: auto;
  min-height: 80px;
  margin: 0 auto;
  border: 1.5px solid green;
  box-shadow: 0.75px 0.75px 2px green;
  border-radius: 15px;
}

/* li:hover {
	text-decoration: line-through;
} */

.done {
  text-decoration: line-through;
}

.todobutton {
  position: absolute;
  right: 10px;
  background-color: green;
  padding: 0.5%;
  border-radius: 10px;
  color: white;
  margin-top: 5px;
}

.todobutton:focus {
  outline: none;
}

/************************  Day Planner Section Ends  **************************/

.row {
  padding: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 0;
}
.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2 {
  font-size: 54px;
}
.col-1 h3 {
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-1 p {
  font-size: 16px;
  color: #838383;
  font-weight: 100;
}
.col-1 h4 {
  margin: 30px 0;
  font-size: 20px;
}
.addplan {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #5dee58, #2fd846);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}

.music-hover {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #6ee978, #26da5c);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}
.music-hover img {
  width: 30px;
  display: none;
}
.music-hover:hover img {
  display: block;
}
.music-hover:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-1::after {
  content: "";
  width: 10px;
  height: 57%;
  background: linear-gradient(#42eb96, #07a00f);
  position: absolute;
  left: -40px;
  top: 8px;
}
.col-2 {
  align-items: center;
}
.col-2 .middle {
  width: 120%;
}

/* Card Container Section Starts */

.container2 {
  margin-top: 30px;
  padding: 0 7%;
  background-color: #87f0a7;
  display: flex;
  justify-content: space-between;
}

.card-container {
  width: 28%;
  flex-wrap: wrap;
  background-color: white;
  color: black;
  margin: 4% 0;
  border-radius: 15px;
  padding: 2% 2% 4% 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container:hover {
  box-shadow: 0 0 10px green;
}

.card-image {
  width: 40px;
  height: 40px;
}

.card-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Card Container Section Ends */

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 4px; /* Add a top margin */
  margin-bottom: 14px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container-contact {
	padding: 3%;
	background-color: rgb(54, 54, 54);
	color: rgb(223, 223, 223);
}

.container-contact input, textarea, select {
	background-color: rgb(54, 54, 54);
	color: rgb(223, 223, 223);
}

.btn-primary {
	background-color: #3c9241;
	color: rgb(223, 223, 223);
	padding: 8px 25px;
	border: none;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
}

.btn-primary:hover {
	background-color: #02970a;	
}

.container-contact1 {
	padding: 0 10%;
	color: rgb(223, 223, 223);
}

.container-contact2 {
	padding: 2% 10%;
}

.white-container {
	background-color: white;
	padding: 5% 25%;
}

.quote {
	border-radius: 25px;
	padding: 2% 10%;
	background-color: rgb(156, 235, 156);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.quote p {
	font-size: 20px;
}

.faviconcenter {
  padding: 2% 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}